# Reload so the daemon recognizes the service `systemctl daemon-reload`
# Enable it so it starts on load `systemctl --user enable video-player.service`
# Give it a try `systemctl --user start video-player.service`
[Unit]
Description=Start RFID Video Player
Wants=graphical.target
Wants=pulseaudio.service
Wants=display-manager.service
After=graphical.target
After=pulseaudio.service
After=display-manager.service

[Service]
Type=simple
Restart=no
WorkingDirectory=/home/athos/repos/Pi-RFID-Video-Player
ExecStart=/home/athos/repos/Pi-RFID-Video-Player/launch-player.sh

[Install]
WantedBy=default.target