[Desktop Entry]
Name=Video Player
Exec=/home/<user>/repos/Pi-RFID-Video-Player/launch-player.sh
Terminal=false
Icon=/home/<user>/repos/Pi-RFID-Video-Player/resources/icons/icon.png
Type=Application
