[Desktop Entry]
Name=Card Editor
Exec=/home/<user>/repos/Pi-RFID-Video-Player/launch-editor.sh
Comment=Launch RFID Editor
Terminal=false
Icon=/home/<user>/repos/Pi-RFID-Video-Player/resources/icons/e_icon.png
Type=Application